@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to left, #000000, #434343);
    display: flex;
    align-items: center;
    justify-content: center;
}


.confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 600px;
    height: 600px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    -webkit-box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    -moz-box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5);
    text-align: center;
    gap: 5px;
}

.confirmacao h1 {
    color: #fff;
    font-size: 24px;
}

.confirmacao h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.confirmacao h2 a {
    color: #00f0ff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.confirmacao h2 a:hover {
    color: #007d86;
}