@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    box-shadow: 1px 10px 15px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 15px -6px rgba(0,0,0,0.75);
    height: 120px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #0000a8;
}


.nav button {
    padding: 10px 35px 10px 35px;
    font-size: 18px;
    background-color: #0000a8;
    border: 2px solid #0000a8;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav button:hover {
    background-color: #568af5;
    border: 2px solid #568af5;
    box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    -webkit-box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    -moz-box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    color: white;
    cursor: pointer;
}


.primeira-dobra, .segunda-dobra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 10px;
    margin-top: 50px;
}


.segunda-dobra {
    flex-direction: row-reverse;
    height: 450px;
    position: relative;
}


.segunda-dobra::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(18, 0, 156, 0.729), rgba(18, 0, 156, 0.729)), url('assets/bgd.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0.6;
    z-index: -1;
}

.primeira-dobra img {
    border-radius: 50%;
}

.quem-sou-eu h1 {
    color: #0000a8;
    font-size: 36px;
    font-weight: 700;
}

.quem-sou-eu h2 {
    color: black;
    font-size: 22px;
    font-weight: 400;
    cursor: default;
    margin-top: 20px;
}

.negrito {
    color: black;
    transition: color 0.3s ease;
}

.negrito:hover {
    color: #0000a8;
}


.city {
    text-decoration: none;
    color: #00006e;
    transition: color 0.3s ease;
}

.city:hover {
    color: #000045;
    cursor: pointer;
}


.quem-sou-eu button {
    padding: 10px 55px 10px 55px;
    font-size: 22px;
    background-color: #0000a8;
    border: 2px solid #0000a8;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.quem-sou-eu button:hover {
    color: #0000a8;
    background-color: white;
    cursor: pointer;
}




.faculdade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.faculdade h1 {
    color: #0000a8;
    font-size: 36px;
    font-weight: 700;
}

.faculdade h2 {
    color: black;
    font-size: 22px;
    font-weight: 400;
    cursor: default;
    margin-top: 20px;
}

.faculdade button {
    padding: 10px 15px;
    background-color: #0000a8;
    border: 2px solid #0000a8;
    border-radius: 10px;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-top: 20px;
}


.faculdade button:hover {
    background-color: #568af5;
    border: 2px solid #568af5;
    color: white;
    cursor: pointer;
}


.terceira-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.projetos {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px -1px 36px -10px rgba(0,0,0,0.72);
    -webkit-box-shadow: 0px -1px 36px -10px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px -1px 36px -10px rgba(0,0,0,0.72);
    height: 400px;
    width: 300px;
    gap: 10px;
    border-radius: 15px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.container-projetos:hover {
    background-color: #568bf56d;
    transform: scale(1.1);
}

.container-projetos img {
    border-radius: 15px;
}

.container-projetos h2 {
    color: #0000a8;
    font-size: 20px;
    font-weight: 700;
}


.container-projetos h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}


.container-projetos h2:hover, .container-projetos h3:hover {
    cursor: default;
}


.terceira-dobra h1 {
    color: #0000a8;
    font-size: 36px;
    font-weight: 700;
}


.terceira-dobra a {
    padding-top: 30px;
    font-size: 22px;
    color: #0000a8;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.terceira-dobra a:hover {
    color: #00006e;
}


.quarta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


.nomes-cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nomes-cursos h2 {
    font-size: 22px;
    color: #568af5;
    font-weight: 700;
    padding-top: 10px;
}

.nomes-cursos h3 {
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-top: -8px;
}


.quarta-dobra h1 {
    color: #0000a8;
    font-size: 36px;
    font-weight: 700;
}


.foto-lugares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.quinta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}


.contato-e-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    margin-top: 30px;
}


.lado-esquerdo-quinta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.lado-esquerdo-quinta-dobra button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px 10px 35px;
    font-size: 22px;
    background-color: #0000a8;
    border: 2px solid #0000a8;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 230px;
    gap: 20px;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.lado-esquerdo-quinta-dobra button:hover {
    background-color: #568af5;
    border: 2px solid #568af5;
    box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    -webkit-box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    -moz-box-shadow: 0px -1px 36px 3px rgba(0,0,168,0.75);
    color: white;
    cursor: pointer;
}


.lado-direito-quinta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input, textarea {
    padding: 10px 40px 10px 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input input, #mensagem {
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 19px -1px 36px -10px rgba(0,0,0,0.72);
    -webkit-box-shadow: 19px -1px 36px -10px rgba(0,0,0,0.72);
    -moz-box-shadow: 19px -1px 36px -10px rgba(0,0,0,0.72);
}



#mensagem {
    resize: vertical;
}

.input input:focus {
    outline: none;
}



.botao-input, .lado-direito-quinta-dobra button {
    padding: 10px 35px 10px 35px;
    font-size: 16px;
    background-color: #0000a8;
    border: 2px solid #0000a8;
    border-radius: 10px;
    color: white;
    gap: 20px;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;   
}


.botao-input:hover, .lado-direito-quinta-dobra button:hover {
    background-color: #568af5;
    border: 2px solid #568af5;
    color: white;
    cursor: pointer;
}


.quinta-dobra h1 {
    color: #0000a8;
    font-size: 36px;
    font-weight: 700;    
}


.footer p {
    background-color: #0000a8;
    width: 100%;
    color: #0000a8;
}


@media only screen and (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        height: 100%;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        flex-wrap: wrap;
    }

    .nav button {
        font-size: 12px;
    }


    .primeira-dobra {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .quem-sou-eu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .segunda-dobra {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .faculdade h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .segunda-dobra img {
        display: none;
    }


    .terceira-dobra {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


    .quarta-dobra {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .nomes-cursos h2 {
        font-size: 16px;
    }

    .nomes-cursos h3 {
        font-size: 14px;
        padding-top: 5px;
    }

    .foto-lugares {
        display: none;
    }


    .quinta-dobra {
        display: flex;
        flex-direction: column;
    }

    .contato-e-forms {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }


    .input {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .lado-esquerdo-quinta-dobra {
        margin-top: -50px;
    }


    .lado-esquerdo-quinta-dobra button {
        font-size: 16px;
        padding: 10px 25px 10px 25px;
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 30px;
    }


    .projetos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 150px;
    }
}


video {
    border: none;
    width: 350px;
    height: 260px;
}