@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}


body {
    background: linear-gradient(to left, #000000, #434343);
}


a {
    text-decoration: none;
}

.logo-e-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}


.logo p {
    font-size: 22px;
    font-weight: 600;
    color: white;
    transition: 0.4s ease;
}

.logo p:hover {
    color: #00f0ff;
}


.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.navbar ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: #00f0ff;
}

.navbar ul li a:hover {
    color: white;
    border-bottom: 3px solid #00f0ff;
    line-height: 15px;
    transform: translateX(100px);
}

.navbar ul li {
    position: relative;
    transition: 0.3s ease;
}

.navbar ul li:hover {
    transform: translateY(-5px);
}


.primeira-dobra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 15px;
    margin-top: 50px;
}

.lado-esquerdo-primeira-dobra h1, #mudar {
    font-size: 44px;
    line-height: 1;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}


.lado-esquerdo-primeira-dobra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}


.lado-esquerdo-primeira-dobra h1 {
    display: inline-block;
    text-shadow: 1px 1px 4px #00f0ff;
}

#items {
    color: white;
    font-weight: 400;
    font-size: 16px;
    display: flex;
}

#items p {
    transition: all 0.5s ease;
}

#items p:hover {
    cursor: default;
    color: #00f0ff;
}


.button {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
    padding: 0px 10px;
}

.button:hover {
    color: #00f0ff;
}

.button svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.button rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 100;
    stroke: #00f0ff;
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}


#github:hover rect {
    stroke-dashoffset: 128;
}

#instagram:hover rect {
    stroke-dashoffset:52;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.segunda-dobra {
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


.segunda-dobra h1 {
    font-size: 44px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px #00eeff30;
}

.coluna-um, .coluna-dois {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 2px solid #00f0ff;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.5s ease;
}

.container:hover {
    border-color: #fff;
    box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    -webkit-box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    -moz-box-shadow: 2px 2px 23px 0px rgba(0,240,255,0.63);
    transform: scale(1.1);
}

.container img {
    border-radius: 15px;
}

.container h1 {
    font-size: 18px;
    color: #00f0ff;
    border: none;
    font-weight: 500;
}


.container h3 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.terceira-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}


.terceira-dobra h1 {
    font-size: 44px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px #00eeff30;
}

.skill-bar {
    width: 300px;
    height: 20px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
    
.bar {
    height: 100%;
    width: 0;
    background-color: #00f0ff;
    transition: width 3s ease-in-out;
    border-radius: 15px;
}
    
.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: 600;
}


.skills-1, .skills-2, .skills-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.skills-1 p, .skills-2 p, .skills-3 p {
    color: #fff;
}


.container-skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.quarta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
    gap: 10px;
}


.quarta-dobra h1 {
    font-size: 44px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px #00eeff30;
}


.textos-iniciais-faculdade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.textos-iniciais-faculdade h2 {
    font-size: 18px;
    font-weight: 400;
}


.container-materias {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}


.materias-primeiro-ano, .materias-segundo-ano, .materias-terceiro-ano {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.materias-primeiro-ano h2, .materias-segundo-ano h2, .materias-terceiro-ano h2 {
    color: #00f0ff;
    font-size: 28px;
}

.materias-primeiro-ano p, .materias-segundo-ano p, .materias-terceiro-ano p {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.4s ease;
}

.materias-primeiro-ano p:hover, .materias-segundo-ano p:hover, .materias-terceiro-ano p:hover {
    color: #00f0ff;
    cursor: default;
}


.quinta-dobra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 60px 0px;
}

.quinta-dobra h1 {
    font-size: 44px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px #00eeff30;
}    


.nomes-cursos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.nomes-cursos h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.nomes-cursos h2 span {
    color: #00f0ff;
    font-weight: 500;
}


.sexta-dobra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 60px 0px;
}

.sexta-dobra h1 {
    font-size: 44px;
    color: #00f0ff;
    text-shadow: 1px 1px 4px #00eeff30;   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form label input, textarea {
    width: 550px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #04b3bf;
    font-weight: 500;
}

textarea {
    height: 200px;
    resize: none;
}

form label input::placeholder, textarea::placeholder {
    color: #04b3bf;
}

#submit {
    padding: 10px 15px;
    color: #fff;
    background-color: #00f0ff;
    border-radius: 15px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

#submit::placeholder {
    font-size: 22px;
}

#submit:hover {
    color: #00f0ff;
    background-color: #fff;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato h3 {
    color: #00f0ff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contato h4 {
    color: #fff;
    font-weight: 400;
}


.forms-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}